*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
.App {
  display: grid;
  grid-template-rows: 5vh 10vh 85vh;
  grid-template-columns: 80vw;
  grid-template-areas: "."
                        "appInput"
                        "userList";
  row-gap: 1rem;
  align-content: center;
  justify-content: center;


}
.appInput {
  grid-area: appInput
  /* background-color: aqua; */
}

.userList {
  /* background-color: red; */
  grid-area: userList;
}
.MuiDialogContent-dividers {
  /* padding: 16px 24px; */
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}